@use "/styles/constants.scss" as c;

.header {
  margin: 2.5em 5em;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

  ul {
    display: flex;
    padding: 0;
    gap: 5em;
    list-style: none;
    justify-content: flex-end;

    li {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 2rem;
    }

    li:not(.activeLink):hover * {
      color: c.$white;
    }

    li.activeLink * {
      color: c.$white-inactive;
      cursor: default;
    }
  }
}
